* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #fff; 
    overflow-y: auto;
}

.main-content {
    position: relative;
    background-color: #fff; 
    padding: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    transition: all 0.5s ease-in-out;
    margin-left:65px; 
    margin-top: -15px;
}



.logo {
    margin-bottom: 20px;
}

.logo img {
    max-width: 200px;
    height: auto;
}

.container {
    width: 100%;
    max-width: 600px; 
    text-align: center; 
}

.drawer {
    margin-bottom: 10px;
}

.drawer label {
    font-size: 1.2rem; 
    display: block;
    margin-bottom: 5px;
}

.drawer select {
    width: 100%;
    padding: 8px;
    border: 1px solid #090909;
    border-radius: 4px;
}

.drawer input {
    font-size: 1rem; 
    padding: 12px;
    border: 1px solid #000; 
    border-radius: 4px; 
    width: 100%; 
    background-color: #fff;
    color: #000; 
    box-shadow: none; 
    transition: border-color 0.3s ease; 
}

.drawer input:focus {
    border-color: #000; 
    background-color: #fff;
    color: #000; 
    outline: none; 
    box-shadow: none; 
}

.button-container {
    margin-top: 20px;
    margin-left: 40px;
}

.button-container button {
    padding: 10px 30px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:first-child {
    margin-right: 10px; 
  }
  

.button-container button:hover {
    background-color: #0056b3;
}

.table-container {
    width: 100%;
    max-width: 1200px;
    margin-top: 0px; 
    background-color: #fff;
    overflow-x: auto; 
    overflow-y: auto; 
    max-height: 500px;
    padding-bottom: 20px;
}

.container table {
    border-collapse: collapse;
    width: 100%; 
    background-color: #fff; 
}
  
.container table, th, td {
    border: 1px solid black; 
}

.container th, td {
    padding: 8px; 
    text-align: left; 
}

.container th {
background-color: #f2f2f2;
}